:root {
  color-scheme: light dark;
  color: #eeeeee;
  font-family: "Roboto", sans-serif;
  background-color: #222831;
}

button:hover {
  cursor: pointer;
}
li {
  transition: 0.5s;
}
li:hover {
  color: rgb(208, 165, 10);
  cursor: pointer;
  transition: 0.5s;
}
a {
  text-decoration: none;
}
.linkStyle:visited {
  color: black !important;
}
